:root {
  --body: rgb(44, 44, 44);
  --main: rgb(78, 78, 78);
  --button: rgb(100, 100, 100);
  --button-hover: rgb(92, 92, 92);
  --text: rgb(208, 208, 208);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

html {
    font-size: 62.5%;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--body);
}

.themes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 4rem;
  background-color: grey;
  margin: 3rem;
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.themes img {
  width: 3rem;
  height: 3rem;
}

.selected {
  position: absolute;
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  opacity: 0.3;
  left: 0;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

.selected:hover {
  transform: translateX(150%);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main);
    flex-direction: column;
    width: 60%;
    height: 60%;
    border-radius: 5rem;
    border: solid 1rem black;
    box-shadow: rgba(0, 0, 0, 0.9) 0rem 2rem;
}

button, input[type="range"] {
    cursor: pointer;
}

button {
    background-color: var(--button);
    color: whitesmoke;
    border: none;
    outline: none;
    font-size: 3rem;
    border-radius: 2rem;
    transition: background-color ease-in-out 0.2s;
}

button:hover {
  background-color: var(--button-hover);
}

.BPM {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 75%;
}

.BPM input {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    height: 4rem;
    font-size: 3rem;
}

#BPM-input {
    width: 7rem;
    color: var(--text);
}

.BPM button {
    width: 4rem;
    height: 4rem;
}

#toggle {
    width: 20rem;
    height: 6rem;
    color: var(--text);
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}

.bottom button {
    margin: 2rem;
}
