* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

html {
    font-size: 62.5%;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkgrey;
    flex-direction: column;
    width: 60%;
    height: 60%;
    border-radius: 5rem;
    border: solid 1rem black;
    box-shadow: rgba(0, 0, 0, 0.9) 0rem 2rem;
}

button, input[type="range"] {
    cursor: pointer;
}

button {
    background-color: grey;
    color: whitesmoke;
    border: none;
    outline: none;
    font-size: 3rem;
    border-radius: 2rem;
}

.BPM {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 75%;
}

.BPM input {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    height: 4rem;
    font-size: 3rem;
}

#BPM-input {
    width: 7rem;
}

.BPM button {
    width: 4rem;
    height: 4rem;
}

#toggle {
    width: 20rem;
    height: 6rem;
    transition: background-color ease-in-out 0.2s;
}

    #toggle:hover {
        background-color: rgb(116, 116, 116);
    }

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}

.bottom button {
    margin: 2rem;
}
